[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = git://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
